.submit-btn {
  border: none;
  border-radius: var(--border-radius-standard);
  padding: 0.5rem;
  background-color: #008000;
  color: white;
  cursor: pointer;
  position: relative; /** Required for tooltip */
}
.submit-btn:hover {
  background-color: #006400;
}

/** Tooltip */
.submit-btn:hover:after {
  content: attr(data-tooltip);
  position: absolute; /** Required for tooltip */
  width: 5rem;
  left: 100%;
  margin-left: 5px;
  background: #eaeaea;
  color: rgb(85, 26, 139);
  padding: 0.25rem;
  border-radius: var(--border-radius-standard);
}
